/* File: styles.css
 * Author: Sean M
 * Date: 2022-10-11
 * Description: Styles not included in Bootstrap
 * License: MIT
 * Version: 1.0
 */

/* =================== Fonts =================== */

@font-face {
    font-family: 'Pattanakarn';
    src: url(./assets/Pattanakarn-Regular-SemiExpanded.woff2);
}

@font-face {
    font-family: 'Pattanakarn Bold';
    src: url(./assets/Pattanakarn-Bold-SemiExpanded.woff2);
}

/* =================== Variables =================== */

:root {
    /* --c1: #752cb4;
    --c2: #171f69;
    --c3: #d80140;
    --c4: #55f3fa;
    --c5: #57053e;
    --c6: #200f45;
    --c7: #22595c;
    --c8: #22c0ef;
    --c9: #2f1244; */

    --font-color: #fff;
    --background: #2f1244;
    --primary: #55F3FA;
    --primary-h: #0da2d1;
    --primary-c: #000; 
    --highlight: #d80140;
    --bs-font-sans-serif: 'Pattanakarn', sans-serif;

}

/* =================== Global =================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--font-color);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--highlight);
}

/* =================== Main Title =================== */

.main-title h1 {
    font-size: 1.3rem;
    text-shadow: rgb(240 78 35 / 50%) 3px 3px 0px, rgb(240 78 35 / 30%) 6px 6px 0px;
    text-transform: uppercase;
    font-family: 'Pattanakarn Bold', sans-serif;
    text-align: center;
}

.main-title img {
    /* width: clamp(100px, calc(100px + 2vw), 200px); */
    width: clamp(125px, calc(100px + 5vw), 225px);
}

.main-title img:last-child {
    transform: scale(0.7);
}


/* mini media query */
@media (min-width: 410px) {
    .main-title h1 {
        font-size: 1.5rem;
    }
}
/* sm media query */
@media (min-width: 576px) {
    .main-title h1 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .main-title h1 {
        font-size: 2rem;
    }
}

/* lg media query */
@media (min-width: 992px) {
    .main-title h1 {
        font-size: 2rem;
    }
}

/* xl media query */
@media (min-width: 1200px) {
    .main-title h1 {
        font-size: 3rem;
    }
}

.section-title {
    text-transform: uppercase;
}

/* =================== Socials =================== */

.social-icons a {
    border-radius: 50%;
}

.social-facebook, .social-linkedin, .social-discord {
    background: var(--social-icon);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

.social-facebook {
    --social-icon: url(./assets/facebook.png);
}

.social-linkedin {
    --social-icon: url(./assets/linkedin.svg);
}

.social-discord {
    --social-icon: url(./assets/discordwhitesvg.svg);
    background-size: 70%;
    background-color: #5865F2;
}

/* =================== Buttons =================== */

.btn {
    font-family: var(--font-primary);
    text-transform: uppercase;
    border-radius: 0;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-c);
    --bs-btn-hover-color: var(--primary-c);
    --bs-btn-color: var(--primary-c);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--primary-c);
    --bs-btn-hover-bg: var(--primary-h);
    --bs-btn-hover-border-color: var(--primary-h);
    --bs-btn-focus-shadow-rgb: 34,192,239;
    --bs-btn-active-color: var(--primary-c);
    --bs-btn-active-bg: var(--primary-h);
    --bs-btn-active-border-color: var(--primary-h);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary-c);
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}

/* =================== Countdown =================== */

.countdown-dots {
    border: 4px dotted #fff;
    height: 300px;
    width: 300px;
    border-radius: 50%; 
}

.path {
	stroke-dasharray: 1000 1000;/*615.423095703125;*/
	stroke-dashoffset: 1000;/*615.423095703125;*/
	/*animation: dash 5s linear forwards;
	-webkit-animation: dash 3s linear forwards;*/
}

.figure {
	position:relative;
}

.figure p {
	position:absolute;
	top:55px;
	left:35px;
	font-size:72px;	
	margin:0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
}

.timer-value {
    font-size: 2.5rem;
}

.timer-label {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.sf, .countdown-dots, .figure {
    transform: scale(1);
}

/* sm media query */
@media (min-width: 576px) {
    .sf, .countdown-dots, .figure {
        transform: scale(1.2);
    }
}

/* lg media query */
@media (min-width: 992px) {
    .sf, .countdown-dots, .figure {
        transform: scale(1.3);
    }
}

/* xl media query */
@media (min-width: 1200px) {
    .sf, .countdown-dots, .figure {
        transform: scale(1.4);
    }
}

/* =================== MISC =================== */

a {
    color: var(--primary);
    font-weight: bold;
}

a:hover {
    color: var(--primary-h)
}

/* Background image at top of the page */
.bg-image {
    background: linear-gradient(transparent, var(--background)), url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* positioned at a specific place in background image */
.comssa-image {
    background: url(./assets/bg-comssa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

/* md media query */
@media (min-width: 768px) {
    .comssa-image {
        display: block;
    }
}

.mt-top {
    margin-top: 1rem;
}

/* md media query */
@media (min-width: 768px) {
    .mt-top {
        margin-bottom: 6rem;
    }
}

/* lg media query */
@media (min-width: 992px) {
    .mt-top {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

.mt-6 {
    margin-top: 4rem;
}

.top-img img {
    width: clamp(80px, 8vw, 200px);
}

.sponsors img {
    max-width: 70%;
}
